.home{
    position: relative;

    &__offering{
        padding: 125px 0;
        position: relative;
    }
    &__offeringTitle{
        font-size: 37px;
        color: $dark;
        text-align: right;
        font-weight: 500; 
        font-family: 'Raleway', sans-serif;
    }
    &_border{
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            width: 50px;
            height: 3px;
            right: 15px;
            background-color: $dark;
        }
    }

    &__slider{
         padding-top: 75px;
         height: 545px;
         overflow: hidden;
         box-sizing: border-box;
    }
}
